/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/

# Never ignore Asset meta data
![Aa]ssets/**/*.meta

.vs/
.vscode/

*.csproj
*.sln
*.vsconfig

# JetBrains Rider and ReSharper
.idea/
_ReSharper*
_ReSharper*/
*.sln.iml
*.[Rr]e[Ss]harper
*.DotSettings.user